body{
    background-color:lightcyan;
}

.heading{
    margin:100px 0px;
}

h1{
    color:black;
    font-size:50px;
    text-align:center;
}

h2{
    color:black;
    font-size:40px;
    

}
.changeColor{
    color:white;
    background-color:black;
    font-size:16px;
   /* border-radius:50%;*/
    height:100px;
    width:120px;
    border:2px solid black;;  
    margin:5px;
    float:left;
}

.changeMusic{
    color:black;
    background-color:white;
    font-size:16px;
   /* border-radius:50%;*/
    height:100px;
    width:120px;
    border:2px solid black;;  
    margin:5px;
    float:left;
}

.start:active{
    color:transparent;
    background-color:transparent;
    border:none;
}

.column3Hint{
    float:left;
    border: 1px solid transparent;
    background-color:transparent;
    width: 300px;
    height:400px;
    text-align:center;
}

.column4LettersGuessed{
    float:right;
    border: 1px solid transparent;
    background-color:transparent;
    width:300px;
    height:400px;
    text-align:center;
}

.row1HintLetters{
    margin:100px 300px;
}
