body{
    background-color:black;
}

.heading{
    margin:100px 0px;
}

h1{
    color:black;
    font-size:50px;
    text-align:center;
}

h2{
    color:black;
    font-size:40px;

}
.start{
    color:black;
    background-color:whitesmoke;
    font-size:34px;
    border-radius:50%;
    height:100px;
    width:120px;
    border:2px solid black;;  
    margin:5px;
    float:left;
}

.start:active{
    color:transparent;
    background-color:transparent;
    border:none;
}

.column3Hint{
    float:left;
}

.column4LettersGuessed{
    float:right;
}

.row1HintLetters{
    margin:100px 300px;
}
